.kc-toast-container {
  position: absolute;
  inset: 0 0 auto auto;
  padding-top: 2rem;
  padding-right: 2rem;
  z-index: 10000;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.kc-toast {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 300px;
  height: fit-content;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  animation: fade-in-out 7s forwards;
  color: white;

  &.success {
    background-color: var(--bs-success);
  }

  &.error {
    background-color: var(--bs-danger);
  }

  i {
    display: none;
  }

  &:hover {
    &:before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.4);
    }

    i {
      position: absolute;
      display: flex;
      align-items: center;
      inset: 0 1.5rem 0 auto;
      height: 100%;
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .mat-body {
    flex-grow: 1;
  }

  .progress-bar {
    position: absolute;
    inset: auto 0 0 auto;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    animation: progress-bar 6.3s forwards linear;
  }
}

@keyframes fade-in-out {
  from,
  to {
    opacity: 0;
    transform: translateX(100%);
  }

  10%,
  90% {
    opacity: 1;
    transform: none;
  }
}

@keyframes progress-bar {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}
